<div>
    <h2>Funktionen des Moduls</h2>
    <h3>Szene aktivieren</h3>
    <p>Über den Button im Figuren-Menü (links) können die SceneActors vom Spielleiter für die aktuelle Szene aktiviert bzw. deaktiviert werden. Spieler können die SceneActors über den Button temporör ausblenden. Sobald der Spielleiter einen neuen Akteur anzeigt, wird auch das Ausblenden beendet.</p>
    <h3>Akteure einer Szene auf einen Blick</h3>
    <p>Mit dem Akteur-Selektor des Moduls hast du alle für eine Szene relevante Akteure im Blick mit folgenden Möglichkeiten:</p>
    <ul class="dsalist">
        <li><p>Du kannst Akteure direkt auf den Selektor ziehen, um sie hinzuzufügen.</p></li>
        <li><p>Über das rechte Icon kannst du den Akteur wieder aus der Szenen-Liste entfernen.</p></li>
        <li><p>Den Charakterbogen eines Akteurs anzeigen.</p></li>
        <li><p>Den Akteur auf der Spielfläche anzeigen.</p></li>
        <li><p>Den Akteur in den Fokus setzen. Er ist dadurch größer als alle anderen Akteure.</p><p><strong>Beispiel: </strong>Die Spieler sind im Gespräch mit diesem Akteur.</p></li>
        <li><p>Über den Avatar in der Liste kannst du ebenfalls mit einem Klick den Akteur auf der Spielfläche anzeigen oder ausblenden oder mit einem Rechtsklick den Charakterbogen öffnen.</p></li>
        <li><p>Für Spieler-Charaktere und NSCs gibt es jeweils eine eigene Liste. Während die NSC-Liste für jede Szene individuell ist, gilt die Spieler-Liste für die komplette Welt.</p></li>
        <li><p>Beide Listen können einzeln ein- und ausgeblendet werden. Das betrifft aber nicht die Avatar-Anzeige auf der Spielfläche.</p></li>
        <li><p>Die Größe der Avatare auf er Spielfläche kann verkleinert bzw. vergrößert werden.</p></li>
        <li><p>Die Akteure können für die Spieler und den Spielleiter ausgeblendet werden.</p></li>
    </ul>
    <h3>Szenen-Einstellungen</h3>
    <p>Über das Zahnrad rechts in der Titelleiste werden die Szenen-Einstellungen geöffnet. Aktuell gibt es folgende Optionen:</p>
    <ul class="dsalist">
        <li><p>Es können alle Akteure aus der Szene auf einmal entfernt werden.</p></li>
        <li><p>Neben dem Zahnrad-Icon kann der Selektor minimiert und wieder maximiert werden.</p></li>
    </ul>
    <h3>Modul-Einstellungen</h3>
    <p>Hier finden sich globale oder Spielerbezogene Einstellungen.</p>
    <ul class="dsalist">
        <li><p><strong>SceneActors deaktivieren:</strong> Das betrifft den jeweils eingeloggten Spieler und sollte mit dem Spielleiter abgesprochen werden. Dadurch wird die Option, Akteure auf der Spielfläche anzuzeigen, für den Spieler komplett deaktiviert. Wichtig: Die Option deaktiviert nur die Anzeige, nicht aber das Modul an sich.</p></li>
        <li><p>Anfänglich sind die Tooltips eine gute Hilfe, um sich zurechtzufinden. Später können sie ggf. störend sein. Hier können sie deaktiviert werden.</p></li>
        <li><p>Eine nützliche Funktion beim Spielen mit einem digitalen Tabletop, z.B. einem liegenden TV: Die Akteure auf der Spielfläche können gedreht werden.</p></li>
        <li><p>Die Anzeige des Changelogs nach einem Update kann deaktiviert werden.</p></li>
    </ul>
    <h3>Neue Features & Bugs</h3>
    <p>Für Feature-Anfragen oder Bugs können auf <a href="{{gitlabUrl}}">GitLab</a> Tickets eröffnet werden</p>
</div>