<div>
    <h2>Features of the module</h2>
    <h3>Enable scene</h3>
    <p>The SceneActors can be activated or deactivated for the current scene by the game master using the button in the figure menu (left). Players can hide the SceneActors by clicking the button temporarily. As soon as the game master displays a new actor, the hiding will also be stopped.</p>.
    <h3>Actors of a scene at a glance</h3>
    <p>With the module's actor selector, you have an overview of all actors relevant to a scene, with the following options:</p>
    <ul class="dsalist">
        <li><p>You can drag actors directly onto the selector to add them.</p></li>
        <li><p>Use the icon on the right to remove the actor from the scene list again.</p></li>
        <li><p>Display the character sheet of an actor.</p></li>
        <li><p>Display the player on the playing surface.</p></li>
        <li><p>Putting the actor in focus. It makes him bigger than all the other actors.</p><p><strong>Example: </strong>The players are talking to this player.</p></li>
        <li><p>Using the avatar in the list, you can also show or hide the actor on the playing area with one click or open the character sheet with a right-click.</p></li>
        <li><p>Player characters and NPCs each have their own list. While the NPC list is individual for each scene, the player list applies to the entire world.</p></li>
        <li><p>Both lists can be shown and hidden individually. However, this does not affect the avatar display on the game screen.</p></li>
        <li><p>The size of the avatars on the playing area can be reduced or increased.</p></li>
        <li><p>The players can be hidden for the players and the game master.</p></li>
    </ul>
    <h3>Scene settings</h3>
    <p>The cogwheel on the right in the title bar opens the scene settings. Currently there are the following options:</p>
    <ul class="dsalist">
        <li><p>All actors can be removed from the scene at once.</p></li>
        <li><p>Next to the cogwheel icon, the selector can be minimised and maximised again.</p></li>
    </ul>
    <h3>Module settings</h3>
    <p>Here you will find global or player-related settings.</p>
    <ul class="dsalist">
        <li><p><strong>Disable SceneActors:</strong> This affects the player logged in at the time and should be agreed with the game leader. This completely deactivates the option to display actors on the playing surface for the player. Important: The option only deactivates the display, but not the module itself.</p></li>
        <li><p>Initially, the tooltips are a good help to find your way around. Later they can be annoying. They can be deactivated here.</p></li>
        <li><p>A useful feature when playing with a digital tabletop, such as a lying TV: the players on the playing surface can be rotated.</p></li>.
        <li><p>The display of the changelog after an update can be disabled.</p></li>
    </ul>
    <h3>New features & bugs</h3>
    <p>For feature requests or bugs, tickets can be opened on <a href="{{gitlabUrl}}">GitLab</a></p>.
</div>