<section class="tab info" data-tab="info">
  <h2>Yendor's DSA5 Extensions</h2>
  <p>Das Foundry-System für <strong>Das Schwarze Auge</strong> ist eines der besten, das ich kenne. Extrem viele Regeln des umfangreichen Regelwerks sind automatisiert und viele Dinge werden durch weitere Funktionen erleichtert. An dieser Stelle auch einmal einen großen Dank an die Entwickler des DSA-Systems und der zugehörigen Module. Ihr leistet eine fantastische Arbeit!</p>
  <p>Mit diesem Modul wird das wundervolle System noch um weitere Funktionen ergänzt. Funktionen, die bisher nicht umgesetzt wurden oder vielleicht auch zu speziell sind, aber dennoch den ein oder anderen interessieren dürften.</p>
  <h3>Feature-Wünsche oder Bug gefunden?</h3>
  <p>Habt ihr Ideen oder Wünsche für neue Features oder einen Fehler gefunden, so könnt ihr dies gerne als Ticket in meinem GitLab-Projekt anlegen:</p>
  <p><a href="https://gitlab.com/yendors-vtt/yendors-dsa5-extensions/-/issues" target="_blank">GitLab</a></p>
  <h3>Unterstützung</h3>
  <p>Euch gefällt dieses oder ein anderes meiner Module und ihr möchtet meine Arbeit unterstützen? So könnt ihr das gerne über Patreon tun. Vielen Dank!</p>
  <p><a href="https://www.patreon.com/YendorsVTT" target="_blank">Yendor's Patreon</a></p>
  <h3>Yendor's Module</h3>
  <p>Neben diesem Modul gibt es von mir noch folgende Module:</p>
  <ul class="dsalist">
    <li><a href="https://foundryvtt.com/packages/yendors-scene-actors" target="_blank">Yendor's Scene Actors</a>: Zeige deine NSCs, mit denen die Spieler interagieren, direkt auf dem Bildschirm.</li>
    <li><a href="https://foundryvtt.com/packages/yendors-ui" target="_blank">Yendor's UI</a>: Du bekommst ein alternatives Erscheinungsbild ganz DSA-like oder eine für Smartphones reduzierte und optimierte Ansicht.</li>
  </ul>
</section>