{{! Author: Jean-Baptiste Louvet-Daniel
   -
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. }}
<span class='fa-stack fa-2xs custom-system-info-icon' data-tooltip='{{title}}'>
    <i class='fas fa-circle fa-stack-2x'></i>
    <i class='fas fa-info fa-stack-1x fa-inverse'></i>
</span>